<% include ../partials/header %>

<div class="container">
    <div class="jumbotron text-center">
        <div class="container">
            <h1>Welcome To Instances!</h1>
            <p>Stories and Journeys and Life.</p>
            <p>
                <a class="btn btn-primary" href="/blogs/new">Add New Instance</a>
            </p>
        </div>
    </div>

    <div class="row text-center">
        <% blogs.forEach(function(blog){ %>
        <div class="col-md-3">
            <div class="card bg-light my-2">
                <img src="<%= blog.image[0] %>" alt="Image_of_<%= blog.name %>" class="card-img-top img-fluid">
                <div class="card-body">
                    <h5 class="card-title"><%= blog.name %></h5>
                    <p>
                        <a href="/blogs/<%= blog._id %>" class="btn btn-sm btn-primary">More Info</a>
                    </p>
                </div>
            </div>
        </div>
        <% }); %>
    </div>
</div>
<% include ../partials/footer %>

