<% include ../partials/header %>

    <header class="jumbotron text-center">
        <div class="container">
            <h1>Welcome To Instances</h1>
            <p>Stories and Journeys and Life.</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/blogs/new">Add New Instance</a>
            </p>
        </div>
    </header>
    <div class="container">
    <div class="row text-center" style="display: flex; flex-wrap: wrap; margin-bottom: 50px;">
        <% blogs.forEach(function(blog){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= blog.image %>" 
                        alt="<%= blog.name %>">
                    <div class="caption">
                        <h4><%= blog.name %></h4>
                    </div>
                    <p>
                        <a href="/blogs/<%= blog._id %>" class="btn btn-primary">More Info</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>