<div class="collapse" id="collapseExample">

    <hr>
    <form action="/blogs/<%= blog._id %>/comments" method="POST">

        <div class="form-group">
            <input type="text" class="form-control" name="comment[text]" placeholder="Add Comment" required>
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Submit!</button>
        </div>

    </form>
</div>