<% include ./partials/header %>
<html>

<head>
    <link rel="stylesheet" href="/stylesheets/registration.css">
</head>

<body>
    <div class="image">
        <div class="container">
            <div class="card bg-light col-md-8 offset-md-2">
                <div class="card-body">
                    <form action="/login" method="POST">
                        <div class="pink">
                            <h2 style="color: blueviolet" class="text-center">
                                <i class="fas fa-sign-in-alt"></i> Login
                            </h2>
                        </div>
                        <hr>
                        <div class="form-group row">
                            <label for="username" class="col-md-3 col-form-label">UserName:</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="username" placeholder="Enter UserName"
                                    required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="password" class="col-md-3 col-form-label">Password:</label>
                            <div class="col-md-9">
                                <input type="password" class="form-control" name="password"
                                    placeholder="Enter Password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <button type="submit" class="btn btn-success b-rounded">Login <i
                                    class="fas fa-arrow-right fa-0.5x"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- <script>
    var email = document.getElementById("email");

    email.addEventListener("input", function (event) {
    if (email.validity.typeMismatch) {
        email.setCustomValidity("I expect an e-mail, darling!");
    } else {
        email.setCustomValidity("");
    }
    });

</script> -->
</body>

</html>

<% include ./partials/footer %>