<% include ./partials/header %>
<div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div class="col-sm-8 offset-sm-2">
                            <p class="text-primary text-center">Register and start making Instances!</p>
                            <form action="/register" method="POST">
                                <div class="form-group row">
                                    <label for="firstname">First Name</label>
                                    <input class="form-control form-control-sm" name="firstname" id="firstname" type="text"
                                        placeholder="e.g. John" pattern="[a-zA-Z]*" required>
                                </div>
                                <div class="form-group row">
                                        <label for="lastname">Last Name</label>
                                        <input class="form-control form-control-sm" name="lastname" id="lastname" type="text"
                                            placeholder="e.g. Smith" pattern="[a-zA-Z]*" required>
                                </div>
                                <div class="form-group row">
                                    <label for="email">Email</label>
                                    <input class="form-control form-control-sm" name="email" id="email" type="email"
                                        placeholder="e.g. abc@example.com" required>
                                </div>
                                <div class="form-group row">
                                        <label for="firstname">Username</label>
                                        <input class="form-control form-control-sm" name="username" id="username" type="text"
                                            placeholder="e.g. john_smith" pattern="[a-zA-Z]*" required>
                                    </div>
                                <div class="form-group row">
                                    <label for="password">Password</label>
                                    <input class="form-control form-control-sm" name="password" id="password"
                                        type="password" placeholder="e.g. minimum 8 characters"  minlength="8" required>
                                </div>
                                <div class="form-group">
                                    <p class="small text-center">By Signing up, you agree to our Terms and Conditions and Privacy
                                        Policy</p>
                                </div>
                                <div class="form-group row">
                                    <button class="btn btn-sm btn-primary btn-block" type="submit">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card-footer">
                        <p class="text-center">Already a member! <a href="/login">Login</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<% include ./partials/footer %>


