<% include ./partials/header %>
<html>

<head>
    <link rel="stylesheet" href="/stylesheets/registration.css">
</head>

<body>
    <div class="image">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <form action="/register" method="POST"
                        enctype="multipart/form-data">
                        <div class="pink">
                            <h1 style="font-size: 40px; color: blueviolet">Instances</h1>
                            <hr>
                            <p style="text-align: center;"> Register down below and start making Instances! </p>
                        </div>
                        <div class="form-group row">
                            <label for="firstname" class="col-md-3 col-form-label">FirstName:</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" type="text" name="firstname"
                                    placeholder="Enter First Name" pattern="[a-zA-Z]*" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="lastname" class="col-md-3 col-form-label">LastName:</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" type="text" name="lastname"
                                    placeholder="Enter Last Name" pattern="[a-zA-Z]*" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="username" class="col-md-3 col-form-label">UserName:</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="username" placeholder="Enter UserName"
                                    required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="password" class="col-md-3 col-form-label">Password:</label>
                            <div class="col-md-9">
                                <input type="password" class="form-control" name="password" placeholder="Enter Password"
                                    required minlength="8">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="email" class="col-md-3 col-form-label">Email:</label>
                            <div class="col-md-9">
                                <input type="email" placeholder="Enter Email" id="email" name="email"
                                    class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="age" class="col-md-3 col-form-label">Age:</label>
                            <div class="col-md-9">
                                <input type="number" placeholder="Enter Age" name="age" class="form-control" required>
                            </div>
                        </div>
                        <br>
                        <div class="form-group row">
                            <label for="gender" class="col-md-3 col-form-label">Gender:</label>
                            <div class="col-md-9">
                                <!--<input type="text" placeholder="Enter Gender" name="gender" class="form-control"
                                    required>-->
                                
                                    
                                        <div class="radio">
                                          <label><input type="radio" name="gender" value="Male"><span class="text-muted">Male</span></label>
                                        </div>
                                        <div class="radio">
                                          <label><input type="radio" name="gender" value="Female"><span class="text-muted">Female</span></label>
                                        </div>
                                        <div class="radio">
                                          <label><input type="radio" name="gender" value="Prefer not to tell"><span class="text-muted">Prefer not to tell</span></label>
                                        </div>
                                    

                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="phonenumber" class="col-md-3 col-form-label">Phone number:</label>
                            <div class="col-md-9">
                                <input type="number" placeholder="Enter Phone Number" name="phonenumber"
                                    class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="birthdate" class="col-md-3 col-form-label">Birth-Date:</label>
                            <div class="col-md-9">
                                <input type="date" placeholder="Enter Birth-Date" name="birthdate" class="form-control"
                                    required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="profilepicture" class="col-md-3 col-form-label">Upload Profile Picture:</label>
                            <div class="col-md-9">
                                <input type="file" name="profilepicture" class="form-control-file">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="description1" class="col-md-3 col-form-label">Description:</label>
                            <div class="col-md-9">
                                <textarea name="description1" class="form-control form-control-sm" placeholder="Tell something about you" required></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="role" class="col-md-3 col-form-label">Role:</label>
                            <div class="col-md-9">
                                <input type="text" name="role" placeholder="Enter Role" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <button type="submit" class="btn btn-success b-rounded">Submit <i
                                    class="fas fa-arrow-right fa-0.5x"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- <script>
    var email = document.getElementById("email");

    email.addEventListener("input", function (event) {
    if (email.validity.typeMismatch) {
        email.setCustomValidity("I expect an e-mail, darling!");
    } else {
        email.setCustomValidity("");
    }
    });

</script> -->
</body>

</html>

<% include ./partials/footer %>