/* COMMON TO ALL */
html {
	position: relative; 
	min-height: 100%; 
}

body {
    background: #343a40;
}

nav.navbar {
    margin-bottom: 20px;
}

/* WELCOME PAGE */


/* FULL BLOG READ PAGE */
.thumbnail img {
    width: 100%;
}
.thumbnail {
    padding: 0;
}
.thumbnail .caption-full {
    padding: 9px;
}
.deleteForm {
    display: inline;
}
.details {
    color: white;
}
/* LOGIN AND SIGNUP PAGE */


/* ADD AND EDIT COMMENT PAGE */



/* HEADER */
