/* COMMON TO ALL */
html {
	position: relative; 
	min-height: 100%; 
}


.navbar{
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background-color : rgba(0, 0 , 0 , 0.5) !important;
    color : green !important;
  }
  
  .navbar nav li{
    padding-right: .7rem;
  }
  .navbar-dark .navbar-nav .nav-link{
    color: white;
    padding-top: .8rem;
  }
  .navbar-dark .navbar-nav .nav-link:hover{
    color: #1ebba3;
  }

/* WELCOME PAGE */


/* FULL BLOG READ PAGE */
.thumbnail img {
    width: 100%;
}
.thumbnail {
    padding: 0;
}
.thumbnail .caption-full {
    padding: 9px;
}
.deleteForm {
    display: inline;
}
.details {
    color: white;
}
/* LOGIN AND SIGNUP PAGE */


/* ADD AND EDIT COMMENT PAGE */



/* HEADER */



/* FOOTER */
footer {
    padding: 10px 0;
    width: 100%;
    position: fixed; 
    bottom: 0;
    overflow: hidden; 
}
